.main-menu-button:click{
    -fx-padding: 3;
    padding: 3;
}

.main-menu-button:hover{
    -fx-opacity: 0.6;
    opacity: 0.6;
}

.main-menu-button {
    background-color: transparent;
    -fx-background-color: transparent;
}

.main-menu-button-selected {
    -fx-underline: true;
    -fx-bold: true;
    -fx-font-weight: bold;
    font-weight: bold;
}

.main-menu-separator {
    -fx-opacity: 0.6;
    opacity: 0.6;
}

.credit-text{
    -fx-opacity: 0.6;
    opacity: 0.6;

}


.text-area {
    -fx-background-color: rgba(53,89,119,0);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area{     
    -fx-text-fill: #ffffff;
}




.text-field {
    -fx-background-color: #727272cc;
    background-color: #3a3939cc;
    -fx-text-fill: #ffffff;
    -fx-highlight-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
}

.search-menu-radio-button{
    -fx-opacity: 0.8;
    opacity: 0.8;
}